#friends-display-link{
  text-align: center;
  display: block;
  background-color: #f8f6f6d8;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i{
  color: rgba(0, 0, 0, 0.3);
}

.friend-screen{
  padding: 0px var(--horizontal-space);
}

.friend-screen__channel{
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friend-screen__channel-header{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color:rgba(0, 0, 0, 0.5);
}